Options -Indexes

<FilesMatch "^\.env$|^composer\.(json|lock)$">
  Require all denied
</FilesMatch>

RedirectMatch 403 ^/api/(src|vendor|scripts)(/.*)?$

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.php [QSA,L]
</IfModule>
